<!DOCTYPE html>

<html>
<head>
<title>
    
        Ochyro
    
</title>
<meta charset="utf-8"/>
<!-- Bootstrap -->
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/base.css" rel="stylesheet"/>
<link href="/static/css/terminal.css" rel="stylesheet"/>
<link href="https://unpkg.com/tabulator-tables@4.5.2/dist/css/tabulator.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/tabulator-tables@4.5.2/dist/js/tabulator.min.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/index.html">Gatewaynode</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/view/articles-list.html">Articles</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="https://github.com/gatewaynode/ochyro">Ochyro</a></li>
</ul>
</div>
</div>
</nav>
<div class="title">All Articles</div>
<table id="content-control-table"></table>
<script>
    var some_content = [{"title": "<a href=\"/view/article/5.html\"><p>And now I have a CMS</p></a>", "date": "2020-02-12 20:39:47.700906"}, {"title": "<a href=\"/view/article/7.html\"><p>How I found the PinePhone and why this is awesome.</p></a>", "date": "2020-02-12 21:56:09.149272"}];

    var table = new Tabulator("#content-control-table", {
   	height: "80%", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
   	data:some_content, // Not sure why this doesn't work
   	layout:"fitColumns",
   	columns:[
  	 	{title:"Title", field:"title", formatter: "html"},
      {title:"Date", field:"date"},
   	],
  });
  table._setData(some_content); // This works, setting in params doesn't
  </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
